.center{
    height: 530px;
    border: solid yellow;

}
.box{
    height: 10px;
    width:100px;
    background-color:yellow;
    border:solid ;
    display: flex;
    align-items: end;
    padding: 20px;
    background-image: url

}
.box2{
    height: 10px;
    width:100px;
    background-color:yellow;
    border: dashed ;
    display: flex;
    align-items: end;
    padding: 20px;
    background-image: url

}
v.box2{
    height: 10px;
    width:100px;
    background-color:yellow;
    border: dashed ;
    display: flex;
    align-items: end;
    padding: 20px;
    background-image: url

}.box2{
    height: 10px;
    width:100px;
    background-color:yellow;
    border: dashed ;
    display: flex;
    align-items: end;
    padding: 20px;
    background-image: url

}.box2{
    height: 10px;
    width:100px;
    background-color:yellow;
    border: dashed ;
    display: flex;
    align-items: end;
    padding: 20px;
    background-image: url

}.box2{
    height: 10px;
    width:100px;
    background-color:yellow;
    border: dashed ;
    display: flex;
    align-items: end;
    padding: 20px;
    background-image: url

}.box2{
    height: 10px;
    width:100px;
    background-color:yellow;
    border: dashed ;
    display: flex;
    align-items: end;
    padding: 20px;
    background-image: url

}.box2{
    height: 10px;
    width:100px;
    background-color:yellow;
    border: dashed ;
    display: flex;
    align-items: end;
    padding: 20px;
    background-image: url

}